<%- include('partials/header', {admin: admin}) -%>

<div class="container">
<h1>About</h1>
<p>Bookstache is an open source project that helps to keep track of your (or someone else's) books.</p>
<h1>How will it help me?</h1>
    <p>Let's say someone wants to get you a book, but they don't know if you have it or not. If they were to ask you directly, then the element of surprise would be gone.</p>
    <p>Bookstache would allow other people to check out your library and see if you have a certain book or not. They could also see of the books that you own, which ones are your favorite. This way, they could have a sense of the type of books you enjoy and would be better equipped to find you something you might like.</p>
    <h1>More Info</h1>
    <p>You can find more information on this project's github page <a href="https://github.com/YolandaHaynes/bookstache" target="_blank">https://github.com/YolandaHaynes/bookstache</a></p>
</div>
<%- include('partials/footer') -%>

