<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
    <div class="mt-5">
        <h2>Add a book:</h2>
        <button id="bookLookUp">Book</button>
        <input type="text" placeholder="ISBN" name="isbn" id="inputIsbn">
        

</main>
    <script src='js/main.js'></script>

<%- include('partials/footer') -%>